In [1]:
import sys
sys.path.append('/Users/pradap/Documents/Research/Python-Package/anhaid/py_entitymatching/')

import py_entitymatching as em
import pandas as pd
import os

import helper_functions

In [2]:
# Get the paths
path_A = em.get_install_path() + os.sep + 'datasets' + os.sep + 'end-to-end' + os.sep + 'restaurants/fodors.csv'
path_B = em.get_install_path() + os.sep + 'datasets' + os.sep + 'end-to-end' + os.sep + 'restaurants/zagats.csv'
path_L = em.get_install_path() + os.sep + 'datasets' + os.sep + 'end-to-end' + os.sep + 'restaurants/match_fodors_zagats_more_attrs.csv'

In [3]:
A = em.read_csv_metadata(path_A, key='id')
B = em.read_csv_metadata(path_B, key='id')
L = em.read_csv_metadata(path_L, ltable=A, rtable=B)

Metadata file is not present in the given path; proceeding to read the csv file.
Metadata file is not present in the given path; proceeding to read the csv file.

In [4]:
A.head()

,id,name,addr,city,phone,type
0,534,arnie mortons of chicago,435 s. la cienega blv.,los angeles,310/246-1501,american
1,535,arts delicatessen,12224 ventura blvd.,studio city,818/762-1221,american
2,536,hotel bel-air,701 stone canyon rd.,bel air,310/472-1211,californian
3,537,cafe bizou,14016 ventura blvd.,sherman oaks,818/788-3536,french
4,538,campanile,624 s. la brea ave.,los angeles,213/938-1447,american

In [5]:
B.head()

,id,name,addr,city,phone,type
0,1,apple pan the,10801 w. pico blvd.,west la,310-475-3585,american
1,2,asahi ramen,2027 sawtelle blvd.,west la,310-479-2231,noodle shops
2,3,baja fresh,3345 kimber dr.,westlake village,805-498-4049,mexican
3,4,belvedere the,9882 little santa monica blvd.,beverly hills,310-788-2306,pacific new wave
4,5,benitas frites,1433 third st. promenade,santa monica,310-458-2889,fast food

In [6]:
L.head()

,_id,fodors_id,zagats_id,ltable_name,ltable_addr,ltable_city,ltable_phone,rtable_name,rtable_addr,rtable_city,rtable_phone,gold
0,0,534,219,arnie mortons of chicago,435 s. la cienega blv.,los angeles,310/246-1501,arnie mortons of chicago,435 s. la cienega blvd.,los angeles,310-246-1501,1
1,1,535,220,arts delicatessen,12224 ventura blvd.,studio city,818/762-1221,arts deli,12224 ventura blvd.,studio city,818-762-1221,1
2,2,536,221,hotel bel-air,701 stone canyon rd.,bel air,310/472-1211,bel-air hotel,701 stone canyon rd.,bel air,310-472-1211,1
3,3,537,222,cafe bizou,14016 ventura blvd.,sherman oaks,818/788-3536,cafe bizou,14016 ventura blvd.,sherman oaks,818-788-3536,1
4,4,538,223,campanile,624 s. la brea ave.,los angeles,213/938-1447,campanile,624 s. la brea ave.,los angeles,213-938-1447,1

In [7]:
ob = em.OverlapBlocker()
C = ob.block_tables(A, B, 'name', 'name', 
                    l_output_attrs=['name', 'addr', 'city', 'phone'], 
                    r_output_attrs=['name', 'addr', 'city', 'phone'],
                    overlap_size=1, show_progress=False)

In [8]:
C.head()

,_id,ltable_id,rtable_id,ltable_name,ltable_addr,ltable_city,ltable_phone,rtable_name,rtable_addr,rtable_city,rtable_phone
0,0,1036,1,pacific pan pacific hotel,500 post st.,san francisco,415/929-2087,apple pan the,10801 w. pico blvd.,west la,310-475-3585
1,1,1016,7,hyde street bistro,1521 hyde st.,san francisco,415/441-7778,bistro 45,45 s. mentor ave.,pasadena,818-795-2478
2,2,552,7,pinot bistro,12969 ventura blvd.,los angeles,818/990-0500,bistro 45,45 s. mentor ave.,pasadena,818-795-2478
3,3,652,7,bistro garden,176 n. canon dr.,los angeles,310/550-3900,bistro 45,45 s. mentor ave.,pasadena,818-795-2478
4,4,991,7,bistro roti,155 steuart st.,san francisco,415/495-6500,bistro 45,45 s. mentor ave.,pasadena,818-795-2478

In [9]:
path_lbl = em.get_install_path() + os.sep + 'datasets' + os.sep + 'end-to-end' + os.sep + 'restaurants/lbl_restnt_wf1.csv'

In [10]:
# sample candidate set
S = em.sample_table(C, 450)

In [11]:
# Label S
# G = em.label_table(S, 'gold')

In [12]:
path_G = em.get_install_path() + os.sep + 'datasets' + os.sep + 'end-to-end' + os.sep + 'restaurants/lbl_restnt_wf1.csv'
G = em.read_csv_metadata(path_G, 
                         key='_id',
                         ltable=A, rtable=B, 
                         fk_ltable='ltable_id', fk_rtable='rtable_id')
len(G)

450

In [13]:
# Generate features automatically 
feature_table = em.get_features_for_matching(A, B)

In [14]:
feature_table.feature_name

0                         id_id_exm
1                         id_id_anm
2                    id_id_lev_dist
3                     id_id_lev_sim
4         name_name_jac_qgm_3_qgm_3
5     name_name_cos_dlm_dc0_dlm_dc0
6     name_name_jac_dlm_dc0_dlm_dc0
7                     name_name_mel
8                name_name_lev_dist
9                 name_name_lev_sim
10                    name_name_nmw
11                     name_name_sw
12        addr_addr_jac_qgm_3_qgm_3
13    addr_addr_cos_dlm_dc0_dlm_dc0
14    addr_addr_jac_dlm_dc0_dlm_dc0
15                    addr_addr_mel
16               addr_addr_lev_dist
17                addr_addr_lev_sim
18                    addr_addr_nmw
19                     addr_addr_sw
20        city_city_jac_qgm_3_qgm_3
21    city_city_cos_dlm_dc0_dlm_dc0
22    city_city_jac_dlm_dc0_dlm_dc0
23                    city_city_mel
24               city_city_lev_dist
25                city_city_lev_sim
26                    city_city_nmw
27                     city_city_sw
28        type_type_jac_qgm_3_qgm_3
29    type_type_cos_dlm_dc0_dlm_dc0
30    type_type_jac_dlm_dc0_dlm_dc0
31                    type_type_mel
32               type_type_lev_dist
33                type_type_lev_sim
34                    type_type_nmw
35                     type_type_sw
Name: feature_name, dtype: object

In [15]:
# Convert the labeled data to feature vectors using the feature table
attrs_from_table = ['ltable_name', 'ltable_addr', 'ltable_city', 'ltable_phone',
                'rtable_name', 'rtable_addr', 'rtable_city', 'rtable_phone'
               ]

H = em.extract_feature_vecs(G, 
                            feature_table=feature_table, 
                            attrs_before = attrs_from_table,
                            attrs_after='gold',
                            show_progress=False)

In [19]:
attrs_to_be_excluded = []

In [20]:
attrs_to_be_excluded

['_id',
 'ltable_id',
 'rtable_id',
 'gold',
 'ltable_name',
 'ltable_addr',
 'ltable_city',
 'ltable_phone',
 'rtable_name',
 'rtable_addr',
 'rtable_city',
 'rtable_phone']

In [17]:
# Lets use RF matcher for matching purposes

# Instantiate the RF Matcher
rf = em.RFMatcher()

SyntaxError: The arguments supplied does not match the signatures supported !!! (<string>)

In [ ]:
# Train using feature vectors from I 
rf.fit(table=H, exclude_attrs=attrs_to_be_excluded, target_attr='gold')

In [ ]:
# Next, Convert the candidate set to feature vectors using the feature table

# Get the list of attrs (apart from feature vectors) that should be included from the canidate set table.
attrs_from_table = ['ltable_name', 'ltable_addr', 'ltable_city', 'ltable_phone',
                'rtable_name', 'rtable_addr', 'rtable_city', 'rtable_phone'
               ]
L = em.extract_feature_vecs(C, feature_table=feature_table,
                             attrs_before= attrs_from_table,
                             show_progress=False)

In [ ]:
# Get the attributes to be excluded while predicting 
attrs_to_be_excluded = []
attrs_to_be_excluded.extend(['_id', 'ltable_id', 'rtable_id', 'gold'])
attrs_to_be_excluded.extend(attrs_from_table)

In [ ]:
predictions = rf.predict(table=L, exclude_attrs=attrs_to_be_excluded,                          
              append=True, target_attr='predicted', inplace=False)

In [ ]:
predictions.head()