In [1]:
%load_ext autotime

In [2]:
import sys
sys.path.append('/scratch/pradap/python-work/anhaidgroup/magellan')

time: 488 ms

In [3]:
import magellan as mg

time: 594 ms

In [4]:
A = mg.read_csv_metadata('DBLP_ACM/DBLP_cleaned.csv', key='id')
B = mg.read_csv_metadata('DBLP_ACM/ACM_cleaned.csv', key='id')

time: 16.9 ms

In [5]:
len(A), len(B)

(2616, 2294)

time: 471 ms

In [6]:
import py_stringsimjoin as ssj

time: 61.8 ms

In [7]:
ssj.profile_table_for_join(A)

,Unique values,Missing values,Comments
Attribute,,,
id,2616 (100.0%),0 (0.0%),This attribute can be used as a key attribute.
title,2521 (96.37%),0 (0.0%),
authors,2316 (88.53%),0 (0.0%),
venue,5 (0.19%),0 (0.0%),
year,10 (0.38%),0 (0.0%),

time: 96.8 ms

In [8]:
ssj.profile_table_for_join(B)

,Unique values,Missing values,Comments
Attribute,,,
id,2294 (100.0%),0 (0.0%),This attribute can be used as a key attribute.
title,2230 (97.21%),0 (0.0%),
authors,2009 (87.58%),14 (0.61%),Joining on this attribute will ignore 14 (0.61%) rows.
venue,5 (0.22%),0 (0.0%),
year,10 (0.44%),0 (0.0%),

time: 96.2 ms

In [9]:
gold = mg.read_csv_metadata('DBLP_ACM/goldWithLabel.csv')

time: 42.5 ms

In [10]:
ssj.profile_table_for_join(gold)

,Unique values,Missing values,Comments
Attribute,,,
pairId,2224 (100.0%),0 (0.0%),This attribute can be used as a key attribute.
id1,2224 (100.0%),0 (0.0%),This attribute can be used as a key attribute.
id2,2224 (100.0%),0 (0.0%),This attribute can be used as a key attribute.
label,1 (0.04%),0 (0.0%),

time: 75.6 ms

In [11]:
temp = A.groupby('title')

time: 39 ms

In [13]:
x = 0
for t in temp:
    if len(t) > 1:
        x += 1
print(x)

2521
time: 264 ms

In [16]:
# A[A.duplicated(['title'])]

time: 630 µs

In [20]:
help(mg.down_sample)

Help on function down_sample in module magellan.sampler.down_sample:

down_sample(table_a, table_b, size, y_param)
    This function down samples two tables A and B into smaller tables A' and
    B' respectively.

    Specifically, first it randomly selects `size` tuples
    from the table B to be table B'. Next, it builds an inverted index I (
    token, tuple_id) on table A. For each tuple x ∈ B', the algorithm
    finds a set P of k/2 tuples from I that match x,
    and a set Q of k/2 tuples randomly selected from A - P.
    The idea is for A' and B' to share some matches yet be
    as representative of A and B as possible.

    Args:
        table_a,table_b (DataFrame): The input tables A and B.
        size (int): The size that table B should be down sampled to.
        y_param (int): The parameter to control the down sample size of table A.
            Specifically, the down sampled size of table A should be close to
            size * y_param.

    Returns:
        Down sampled tables A and B as pandas DataFrames.

    Raises:
        AssertionError: If any of the input tables (`table_a`, `table_b`) are
         empty or not a DataFrame.
        AssertionError: If `size` or `y_param` is empty or 0 or not a
         valid integer value.

time: 1.07 ms

In [26]:
len(Asampled), len(B_sampled)

(454, 500)

time: 1.79 ms

In [27]:
Asampled.head(1)

,id,title,authors,venue,year
0,journals/sigmod/Mackay99,Semantic Integration of Environmental Models for Application to Global Information Systems and D...,D. Scott Mackay,SIGMOD Record,1999

time: 8.68 ms

In [28]:
gold.columns

Index([u'pairId', u'id1', u'id2', u'label'], dtype='object')

time: 2.08 ms

In [39]:
g1 = mg.filter_rows(gold, "id1=='journals/sigmod/Mackay99'")

time: 2.99 ms

In [40]:
g1

     pairId                       id1     id2  label
997     998  journals/sigmod/Mackay99  309852      1

time: 6.26 ms

In [44]:
mg.filter_rows(B, "id==309852")

,id,title,authors,venue,year
117,309852,Semantic integration of environmental models for application to global information systems and d...,D. Scott Mackay,ACM SIGMOD Record,1999

time: 8.85 ms

In [45]:
a = {}

time: 742 µs

In [46]:
len(a)

0

time: 1.96 ms

In [54]:
a['10'] = 0
a['20'] = 1
a['5'] = 200

time: 1.07 ms

In [52]:
help(sorted)

Help on built-in function sorted in module __builtin__:

sorted(...)
    sorted(iterable, cmp=None, key=None, reverse=False) --> new sorted list

time: 758 µs

In [55]:
for key, value in sorted(a.items(), reverse=True):
    print(key, value)

('5', 200)
('20', 1)
('10', 0)
time: 1.22 ms

In [48]:
len(a)

1

time: 1.63 ms

In [67]:
a = set()

time: 622 µs

In [71]:
a.add(10)

time: 755 µs

In [72]:
a

{10}

time: 1.52 ms

In [63]:
A.ix[1403]

id                                           journals/sigmod/Aberer01
title      Advanced XML Data Processing - Guest Editor's Introduction
authors                                                   Karl Aberer
venue                                                   SIGMOD Record
year                                                             2001
Name: 1403, dtype: object

time: 3.28 ms

In [59]:
mg.filter_rows(A, 'id==2615')

Empty DataFrame
Columns: [id, title, authors, venue, year]
Index: []

time: 6.31 ms

In [42]:
g2

Empty DataFrame
Columns: [id, title, authors, venue, year]
Index: []

time: 27.8 ms