In [1]:
%load_ext autotime

### Imports and basic setup

In [2]:
import imp

time: 689 µs

In [3]:
import logging
imp.reload(logging)
logging.basicConfig(format='%(asctime)s %(levelname)s:%(message)s', 
                    level=logging.DEBUG, datefmt='%I:%M:%S')

time: 3.94 ms

In [4]:
import sys
import os

time: 796 µs

In [5]:
sys.path.append('/Users/pradap/Documents/Research/Python-Package/anhaid/magellan/')

time: 813 µs

In [6]:
import magellan as mg

time: 2.09 s

#### Set the scratch dir to write/read the intermediate files

In [7]:

scratch_dir = os.sep.join(['.', 'scratch'])

time: 1.07 ms

### Case 1: Read from a csv file (with metadata file present in the same directory)

In [8]:
path_a = os.sep.join([mg.get_install_path(), 'datasets', 'table_A.csv'])

time: 987 µs

In [9]:
A = mg.read_csv_metadata(path_a)

time: 6.67 ms

In [10]:
A

,ID,name,birth_year,hourly_wage,address,zipcode
0,a1,Kevin Smith,1989,30.0,"607 From St, San Francisco",94107
1,a2,Michael Franklin,1988,27.5,"1652 Stockton St, San Francisco",94122
2,a3,William Bridge,1986,32.0,"3131 Webster St, San Francisco",94107
3,a4,Binto George,1987,32.5,"423 Powell St, San Francisco",94122
4,a5,Alphonse Kemper,1984,35.0,"1702 Post Street, San Francisco",94122

time: 24.4 ms

In [11]:
mg.get_key(A)

'ID'

time: 2.28 ms

### Case 2: Read from a CSV file, but override the metadata in the command line

In [14]:
B = mg.read_csv_metadata(path_a, key='name')

time: 4.35 ms

In [15]:
B.head(3)

,ID,name,birth_year,hourly_wage,address,zipcode
0,a1,Kevin Smith,1989,30.0,"607 From St, San Francisco",94107
1,a2,Michael Franklin,1988,27.5,"1652 Stockton St, San Francisco",94122
2,a3,William Bridge,1986,32.0,"3131 Webster St, San Francisco",94107

time: 9.77 ms

In [16]:
mg.get_key(B)

'name'

time: 2.31 ms

### Case 3: Read a input table from csv file (without metadata file), and set its metadata in the commandline

In [28]:
p = os.sep.join([scratch_dir, 'A.csv'])
A.to_csv(p)
A2 = mg.read_csv_metadata(p, key='ID')

08:20:21 WARNING:Metadata file is not present in the given path; proceeding to read the csv file.

time: 6.42 ms

In [29]:
mg.get_key(A2)

'ID'

time: 2.38 ms

### Case 4: Write/Read a candidate set from a csv file (with the metadata file present) and set other required parameters in the command line

In [17]:
ab = mg.AttrEquivalenceBlocker()
C = ab.block_tables(A, B, 'zipcode', 'zipcode')

0%  100%
[#####] | ETA: 00:00:00

time: 22.9 ms

Total time elapsed: 00:00:00

In [18]:
C

    _id ltable_ID       rtable_name
0     0        a1       Kevin Smith
1     1        a1    William Bridge
2     2        a3       Kevin Smith
3     3        a3    William Bridge
4     4        a2  Michael Franklin
5     5        a2      Binto George
6     6        a2   Alphonse Kemper
7     7        a4  Michael Franklin
8     8        a4      Binto George
9     9        a4   Alphonse Kemper
10   10        a5  Michael Franklin
11   11        a5      Binto George
12   12        a5   Alphonse Kemper

time: 8.43 ms

In [21]:
mg.to_csv_metadata(C, os.sep.join([scratch_dir, 'C.csv']))

08:15:54 WARNING:File already exists at ./scratch/C.csv; Overwriting it

True

time: 5.38 ms

In [23]:
C1 = mg.read_csv_metadata(os.sep.join([scratch_dir, 'C.csv']), ltable=A, rtable=B)

time: 4.48 ms

### Read a candidate set (with out metadata file) and set their parameters in the command line

In [24]:
C.to_csv(os.sep.join([scratch_dir, 'C.csv']))

time: 2.67 ms

In [25]:
C2 = mg.read_csv_metadata(os.sep.join([scratch_dir, 'C.csv']), 
                          key='_id',
                          ltable=A, rtable=B, 
                          fk_ltable='ltable_ID', fk_rtable='rtable_ID')

time: 5.02 ms

In [26]:
mg.show_properties(C2)

id: 4668797000
rtable(obj.id): 4666724248
fk_ltable: ltable_ID
fk_rtable: rtable_ID
ltable(obj.id): 4666723688
key: _id
time: 842 µs