In [1]:
%load_ext autotime

In [2]:
import sys

time: 88.8 ms

In [3]:
sys.path.append('/scratch/pradap/python-work/anhaidgroup/magellan')

time: 88.8 ms

In [4]:
import magellan as mg

time: 706 ms

In [5]:
import os

time: 953 µs

In [6]:
datasets_path = os.sep.join([mg.get_install_path(), 'datasets', 'test_datasets'])
path_a = os.sep.join([datasets_path, 'A.csv'])
path_b = os.sep.join([datasets_path, 'B.csv'])
path_c = os.sep.join([datasets_path, 'C.csv'])

time: 135 ms

In [7]:
A = mg.read_csv_metadata(path_a)
B = mg.read_csv_metadata(path_b, key='ID')
C = mg.read_csv_metadata(path_c, ltable=A, rtable=B)
col_pos = len(C.columns)
C.insert(col_pos, 'label', [0]*len(C))

WARNING:magellan.io.parsers:Metadata file is not present in the given path; proceeding to read the csv file.

time: 95.2 ms

In [8]:
feature_table = mg.get_features_for_matching(A, B)

WARNING:magellan.feature.autofeaturegen:Magellan types: address type (str_bt_1w_5w) and address type (str_bt_5w_10w) are different.If you want to set them to be same and generate features, update output from get_attr_types and use get_features command.

time: 88.1 ms

In [9]:
feat_table =feature_table.ix[[5, 15, 15, 18]]

time: 74.2 ms

In [11]:
F1 = mg.extract_feature_vecs(C, attrs_before=['ltable_name', 'rtable_name'], feature_table=feat_table, attrs_after='label')

time: 18.1 ms

In [17]:
F1 = mg.extract_feature_vecs(C, attrs_before=['ltable_name', 'rtable_ID', 'rtable_name'], feature_table=feat_table, attrs_after='label')

time: 17.3 ms

In [19]:
import pandas as pd

time: 603 µs

In [20]:
F1 = mg.extract_feature_vecs(C, attrs_before=['ltable_name', 'rtable_ID', 'rtable_name'], feature_table=pd.DataFrame(columns=feat_table.columns), attrs_after='label')

time: 15.1 ms

In [28]:
F1 = mg.extract_feature_vecs(C, attrs_before=['ltable_name', 'rtable_ID', 'rtable_name'], feature_table=pd.DataFrame(columns=feat_table.columns), 
                             attrs_after=['label', '_id'])

time: 15.3 ms

In [29]:
F1

    _id ltable_ID rtable_ID       ltable_name     rtable_name  label
0     0        a1        b1       Kevin Smith     Mark Levene      0
1     1        a1        b2       Kevin Smith     Bill Bridge      0
2     2        a1        b6       Kevin Smith  Michael Brodie      0
3     6        a2        b3  Michael Franklin   Mike Franklin      0
4     7        a2        b4  Michael Franklin     Joseph Kuan      0
5     8        a2        b5  Michael Franklin   Alfons Kemper      0
6     3        a3        b1    William Bridge     Mark Levene      0
7     4        a3        b2    William Bridge     Bill Bridge      0
8     5        a3        b6    William Bridge  Michael Brodie      0
9     9        a4        b3      Binto George   Mike Franklin      0
10   10        a4        b4      Binto George     Joseph Kuan      0
11   11        a4        b5      Binto George   Alfons Kemper      0
12   12        a5        b3   Alphonse Kemper   Mike Franklin      0
13   13        a5        b4   Alphonse Kemper     Joseph Kuan      0
14   14        a5        b5   Alphonse Kemper   Alfons Kemper      0

time: 17.5 ms