In [1]:
%load_ext autotime

In [2]:
import logging
logging.basicConfig(level=logging.INFO)

time: 892 µs

In [3]:
import sys
sys.path.append('/scratch/pradap/python-work/anhaidgroup/magellan')

time: 799 µs

In [4]:
import magellan as mg

time: 695 ms

In [6]:
mg.get_key(A)

ERROR:magellan.catalog.catalog_manager:Dataframe information is not present in the catalog

KeyError: 'Dataframe information is not present in the catalog'

time: 171 ms

In [7]:
A = mg.load_dataset('table_A', key='ID')
B = mg.load_dataset('table_B', key='ID')

time: 4.53 ms

In [8]:
ab = mg.AttrEquivalenceBlocker()
C1 = ab.block_tables(A, B, 'zipcode', 'zipcode', ['name', 'address'], ['name', 'address'])
C2 = ab.block_tables(A, B, 'birth_year', 'birth_year', ['birth_year', 'zipcode'], ['birth_year', 'zipcode'])

time: 17.6 ms

In [9]:
C1

,_id,ltable_ID,rtable_ID,ltable_name,ltable_address,rtable_name,rtable_address
0,0,a1,b1,Kevin Smith,"607 From St, San Francisco",Mark Levene,"108 Clement St, San Francisco"
1,1,a1,b2,Kevin Smith,"607 From St, San Francisco",Bill Bridge,"3131 Webster St, San Francisco"
2,2,a1,b6,Kevin Smith,"607 From St, San Francisco",Michael Brodie,"133 Clement Street, San Francisco"
3,3,a3,b1,William Bridge,"3131 Webster St, San Francisco",Mark Levene,"108 Clement St, San Francisco"
4,4,a3,b2,William Bridge,"3131 Webster St, San Francisco",Bill Bridge,"3131 Webster St, San Francisco"
5,5,a3,b6,William Bridge,"3131 Webster St, San Francisco",Michael Brodie,"133 Clement Street, San Francisco"
6,6,a2,b3,Michael Franklin,"1652 Stockton St, San Francisco",Mike Franklin,"1652 Stockton St, San Francisco"
7,7,a2,b4,Michael Franklin,"1652 Stockton St, San Francisco",Joseph Kuan,"108 South Park, San Francisco"
8,8,a2,b5,Michael Franklin,"1652 Stockton St, San Francisco",Alfons Kemper,"170 Post St, Apt 4, San Francisco"
9,9,a4,b3,Binto George,"423 Powell St, San Francisco",Mike Franklin,"1652 Stockton St, San Francisco"
10,10,a4,b4,Binto George,"423 Powell St, San Francisco",Joseph Kuan,"108 South Park, San Francisco"
11,11,a4,b5,Binto George,"423 Powell St, San Francisco",Alfons Kemper,"170 Post St, Apt 4, San Francisco"
12,12,a5,b3,Alphonse Kemper,"1702 Post Street, San Francisco",Mike Franklin,"1652 Stockton St, San Francisco"
13,13,a5,b4,Alphonse Kemper,"1702 Post Street, San Francisco",Joseph Kuan,"108 South Park, San Francisco"
14,14,a5,b5,Alphonse Kemper,"1702 Post Street, San Francisco",Alfons Kemper,"170 Post St, Apt 4, San Francisco"

time: 28.9 ms

In [10]:
C2

,_id,ltable_ID,rtable_ID,ltable_birth_year,ltable_zipcode,rtable_birth_year,rtable_zipcode
0,0,a2,b3,1988,94122,1988,94122
1,1,a3,b2,1986,94107,1986,94107
2,2,a4,b1,1987,94122,1987,94107
3,3,a4,b6,1987,94122,1987,94107
4,4,a5,b5,1984,94122,1984,94122

time: 11.8 ms

In [15]:
import pandas as pd

time: 616 µs

In [16]:
C3 = pd.DataFrame(columns=['_id', 'ltable_ID', 'rtable_ID', 'ltable_birth_year', 'ltable_zipcode', 
                           'rtable_birth_year', 'rtable_zipcode'])

time: 1.94 ms

In [17]:
import magellan.catalog.catalog_manager as cm

time: 670 µs

In [18]:
help(cm.set_candset_properties)

Help on function set_candset_properties in module magellan.catalog.catalog_manager:

set_candset_properties(candset, key, fk_ltable, fk_rtable, ltable, rtable)

time: 1.02 ms

In [19]:
cm.set_candset_properties(C3, '_id', 'ltable_ID', 'rtable_ID', A, B)

time: 878 µs

In [34]:
C = mg.combine_blocker_outputs_via_union([C1, C2], verbose=True)

time: 10.7 ms

In [26]:
mg.to_csv_metadata(C1, './C1_ex_1.csv')

WARNING:magellan.io.parsers:File already exists at ./C1_ex_1.csv; Overwriting it
WARNING:magellan.io.parsers:Metadata file already exists at ./C1_ex_1.metadata. Overwriting it

True

time: 2.88 ms

In [27]:
mg.to_csv_metadata(C2, './C2_ex_1.csv')

WARNING:magellan.io.parsers:File already exists at ./C2_ex_1.csv; Overwriting it
WARNING:magellan.io.parsers:Metadata file already exists at ./C2_ex_1.metadata. Overwriting it

True

time: 2.91 ms

In [30]:
mg.to_csv_metadata(C3, './C3_ex_2.csv')

True

time: 1.98 ms

In [35]:
mg.to_csv_metadata(C, './C_ex_1.csv')

True

time: 2.57 ms

In [32]:
mg.to_csv_metadata(C, './C_ex_2.csv')

True

time: 2.42 ms

In [21]:
C

,_id,ltable_ID,rtable_ID,ltable_name,ltable_address,ltable_birth_year,ltable_zipcode,rtable_name,rtable_address,rtable_birth_year,rtable_zipcode
0,0,a1,b1,Kevin Smith,"607 From St, San Francisco",1989,94107,Mark Levene,"108 Clement St, San Francisco",1987,94107
1,1,a1,b2,Kevin Smith,"607 From St, San Francisco",1989,94107,Bill Bridge,"3131 Webster St, San Francisco",1986,94107
2,2,a1,b6,Kevin Smith,"607 From St, San Francisco",1989,94107,Michael Brodie,"133 Clement Street, San Francisco",1987,94107
3,3,a2,b3,Michael Franklin,"1652 Stockton St, San Francisco",1988,94122,Mike Franklin,"1652 Stockton St, San Francisco",1988,94122
4,4,a2,b4,Michael Franklin,"1652 Stockton St, San Francisco",1988,94122,Joseph Kuan,"108 South Park, San Francisco",1982,94122
5,5,a2,b5,Michael Franklin,"1652 Stockton St, San Francisco",1988,94122,Alfons Kemper,"170 Post St, Apt 4, San Francisco",1984,94122
6,6,a3,b1,William Bridge,"3131 Webster St, San Francisco",1986,94107,Mark Levene,"108 Clement St, San Francisco",1987,94107
7,7,a3,b2,William Bridge,"3131 Webster St, San Francisco",1986,94107,Bill Bridge,"3131 Webster St, San Francisco",1986,94107
8,8,a3,b6,William Bridge,"3131 Webster St, San Francisco",1986,94107,Michael Brodie,"133 Clement Street, San Francisco",1987,94107
9,9,a4,b3,Binto George,"423 Powell St, San Francisco",1987,94122,Mike Franklin,"1652 Stockton St, San Francisco",1988,94122
10,10,a4,b4,Binto George,"423 Powell St, San Francisco",1987,94122,Joseph Kuan,"108 South Park, San Francisco",1982,94122
11,11,a4,b5,Binto George,"423 Powell St, San Francisco",1987,94122,Alfons Kemper,"170 Post St, Apt 4, San Francisco",1984,94122
12,12,a5,b3,Alphonse Kemper,"1702 Post Street, San Francisco",1984,94122,Mike Franklin,"1652 Stockton St, San Francisco",1988,94122
13,13,a5,b4,Alphonse Kemper,"1702 Post Street, San Francisco",1984,94122,Joseph Kuan,"108 South Park, San Francisco",1982,94122
14,14,a5,b5,Alphonse Kemper,"1702 Post Street, San Francisco",1984,94122,Alfons Kemper,"170 Post St, Apt 4, San Francisco",1984,94122

time: 30.1 ms

In [10]:
%timeit C.head(5)

1000 loops, best of 3: 335 µs per loop
time: 1.46 s

In [40]:
C1.rename(columns={'rtable_address':'r_address'}, inplace=True)

time: 34.3 ms

In [44]:
C1.drop('r_address', axis=1, inplace=True)

time: 1.75 ms