In [1]:
%load_ext autotime

In [2]:
import sys

time: 712 µs

In [3]:
#sys.path.append('/scratch/pradap/python-work/anhaidgroup/magellan')
sys.path.append('/Users/pradap/Documents/Research/Python-Package/anhaid/magellan/')

time: 1.01 ms

In [4]:
import magellan as mg

time: 3.05 s

In [5]:
import os

time: 795 µs

In [6]:
datasets_path = os.sep.join([mg.get_install_path(), 'datasets', 'test_datasets'])
path_a = os.sep.join([datasets_path, 'A.csv'])
path_b = os.sep.join([datasets_path, 'B.csv'])
path_c = os.sep.join([datasets_path, 'C.csv'])

time: 3.69 ms

In [7]:
A = mg.read_csv_metadata(path_a)
B = mg.read_csv_metadata(path_b, key='ID')
C = mg.read_csv_metadata(path_c, ltable=A, rtable=B)
col_pos = len(C.columns)
C.insert(col_pos, 'label', [0]*len(C))

time: 15.3 ms

In [8]:
feature_table = mg.get_features_for_matching(A, B)

time: 23.6 ms

In [9]:
feat_table =feature_table.ix[[5, 15, 15, 18]]

time: 3.81 ms

In [10]:
F1 = mg.extract_feature_vecs(C, attrs_before=['ltable_name', 'rtable_name'], feature_table=feat_table, attrs_after='label')

time: 25.5 ms

In [11]:
F1

,_id,ltable_ID,rtable_ID,ltable_name,rtable_name,name_name_jac_qgm_3_qgm_3,hourly_wage_hourly_wage_exm,hourly_wage_hourly_wage_exm,zipcode_zipcode_exm,label
0,0,a1,b1,Kevin Smith,Mark Levene,0.000000,0,0,1,0
1,1,a1,b2,Kevin Smith,Bill Bridge,0.000000,0,0,1,0
2,2,a1,b6,Kevin Smith,Michael Brodie,0.000000,0,0,1,0
3,6,a2,b3,Michael Franklin,Mike Franklin,0.388889,1,1,1,0
4,7,a2,b4,Michael Franklin,Joseph Kuan,0.000000,0,0,1,0
5,8,a2,b5,Michael Franklin,Alfons Kemper,0.000000,0,0,1,0
6,3,a3,b1,William Bridge,Mark Levene,0.000000,0,0,1,0
7,4,a3,b2,William Bridge,Bill Bridge,0.400000,1,1,1,0
8,5,a3,b6,William Bridge,Michael Brodie,0.043478,0,0,1,0
9,9,a4,b3,Binto George,Mike Franklin,0.000000,0,0,1,0
10,10,a4,b4,Binto George,Joseph Kuan,0.000000,0,0,1,0
11,11,a4,b5,Binto George,Alfons Kemper,0.000000,0,0,1,0
12,12,a5,b3,Alphonse Kemper,Mike Franklin,0.000000,0,0,1,0
13,13,a5,b4,Alphonse Kemper,Joseph Kuan,0.000000,0,0,1,0
14,14,a5,b5,Alphonse Kemper,Alfons Kemper,0.333333,1,1,1,0

time: 29 ms

In [17]:
F1 = mg.extract_feature_vecs(C, attrs_before=['ltable_name', 'rtable_ID', 'rtable_name'], feature_table=feat_table, attrs_after='label')

time: 17.3 ms

In [19]:
import pandas as pd

time: 603 µs

In [20]:
F1 = mg.extract_feature_vecs(C, attrs_before=['ltable_name', 'rtable_ID', 'rtable_name'], feature_table=pd.DataFrame(columns=feat_table.columns), attrs_after='label')

time: 15.1 ms

In [28]:
F1 = mg.extract_feature_vecs(C, attrs_before=['ltable_name', 'rtable_ID', 'rtable_name'], feature_table=pd.DataFrame(columns=feat_table.columns), 
                             attrs_after=['label', '_id'])

time: 15.3 ms

In [29]:
F1

    _id ltable_ID rtable_ID       ltable_name     rtable_name  label
0     0        a1        b1       Kevin Smith     Mark Levene      0
1     1        a1        b2       Kevin Smith     Bill Bridge      0
2     2        a1        b6       Kevin Smith  Michael Brodie      0
3     6        a2        b3  Michael Franklin   Mike Franklin      0
4     7        a2        b4  Michael Franklin     Joseph Kuan      0
5     8        a2        b5  Michael Franklin   Alfons Kemper      0
6     3        a3        b1    William Bridge     Mark Levene      0
7     4        a3        b2    William Bridge     Bill Bridge      0
8     5        a3        b6    William Bridge  Michael Brodie      0
9     9        a4        b3      Binto George   Mike Franklin      0
10   10        a4        b4      Binto George     Joseph Kuan      0
11   11        a4        b5      Binto George   Alfons Kemper      0
12   12        a5        b3   Alphonse Kemper   Mike Franklin      0
13   13        a5        b4   Alphonse Kemper     Joseph Kuan      0
14   14        a5        b5   Alphonse Kemper   Alfons Kemper      0

time: 17.5 ms

In [13]:
mg._match_s['jaccard'](['muruga', 'saranam'], ['muruga', 'muruga'])

0.5

time: 2.5 ms