In [1]:
%load_ext autotime

In [2]:
import sys
#sys.path.append('/scratch/pradap/python-work/magellan/')
sys.path.append('/Users/pradap/Documents/Research/Python-Package/anhaid/magellan/')

time: 1.73 ms

In [3]:
import magellan as mg

time: 2.29 s

In [4]:
A = mg.load_dataset('table_A', key='ID')
B = mg.load_dataset('table_B', key='ID')

time: 28.9 ms

In [5]:
ab = mg.AttrEquivalenceBlocker()
C = ab.block_tables(A, B, 'zipcode', 'zipcode', ['name'], ['birth_year'])

time: 27.8 ms

In [7]:
D = mg.label_table(C, 'gold')

time: 3.73 s

In [7]:
D

    _id ltable_ID rtable_ID ltable_birth_year  rtable_birth_year  gold
0     0        a1        b1       Kevin Smith               1987     1
1     1        a1        b2       Kevin Smith               1986     0
2     2        a1        b6       Kevin Smith               1987     1
3     3        a3        b1    William Bridge               1987     0
4     4        a3        b2    William Bridge               1986     0
5     5        a3        b6    William Bridge               1987     0
6     6        a2        b3  Michael Franklin               1988     0
7     7        a2        b4  Michael Franklin               1982     0
8     8        a2        b5  Michael Franklin               1984     0
9     9        a4        b3      Binto George               1988     0
10   10        a4        b4      Binto George               1982     0
11   11        a4        b5      Binto George               1984     0
12   12        a5        b3   Alphonse Kemper               1988     0
13   13        a5        b4   Alphonse Kemper               1982     0
14   14        a5        b5   Alphonse Kemper               1984     0

time: 23.5 ms

In [8]:
mg.show_properties(D)

id: 140064268856080
rtable(obj.id): 140064268854480
key: _id
fk_rtable: rtable_ID
fk_ltable: ltable_ID
ltable(obj.id): 140064268854544
time: 900 Âµs