In [1]:
%load_ext autotime

In [2]:
import logging
logging.basicConfig(level=logging.INFO)

time: 100 ms

In [3]:
import sys
sys.path.append('/scratch/pradap/python-work/magellan/')

time: 89.1 ms

In [4]:
import magellan as mg

DEBUG:Cloud:Log file (/u/p/r/pradap/.picloud/cloud.log) opened

time: 600 ms

In [5]:
A = mg.load_dataset('table_A')
B = mg.load_dataset('table_B')

time: 4.45 ms

In [6]:
ab = mg.AttrEquivalenceBlocker()
C1 = ab.block_tables(A, B, 'zipcode', 'zipcode', ['name', 'address'], ['name', 'address'])
C2 = ab.block_tables(A, B, 'birth_year', 'birth_year', ['birth_year', 'zipcode'], ['birth_year', 'zipcode'])

time: 103 ms

In [7]:
C2.set_index(C2.index.values)

,_id,ltable_ID,rtable_ID,ltable_birth_year,ltable_zipcode,rtable_birth_year,rtable_zipcode
0,0,a2,b3,1988,94122,1988,94122
1,1,a3,b2,1986,94107,1986,94107
2,2,a4,b1,1987,94122,1987,94107
3,3,a4,b6,1987,94122,1987,94107
4,4,a5,b5,1984,94122,1984,94122

time: 112 ms

In [8]:
help(C2.set_index)

Help on method set_index in module pandas.core.frame:

set_index(self, keys, drop=True, append=False, inplace=False, verify_integrity=False) method of pandas.core.frame.DataFrame instance
    Set the DataFrame index (row labels) using one or more existing
    columns. By default yields a new object.

    Parameters
    ----------
    keys : column label or list of column labels / arrays
    drop : boolean, default True
        Delete columns to be used as the new index
    append : boolean, default False
        Whether to append columns to existing index
    inplace : boolean, default False
        Modify the DataFrame in place (do not create a new object)
    verify_integrity : boolean, default False
        Check the new index for duplicates. Otherwise defer the check until
        necessary. Setting to False will improve the performance of this
        method

    Examples
    --------
    >>> indexed_df = df.set_index(['A', 'B'])
    >>> indexed_df2 = df.set_index(['A', [0, 1, 2, 0, 1, 2]])
    >>> indexed_df3 = df.set_index([[0, 1, 2, 0, 1, 2]])

    Returns
    -------
    dataframe : DataFrame

time: 63.1 ms

In [11]:
%timeit C = mg.combine_blocker_outputs_via_union([C1, C2], verbose=True)

100 loops, best of 3: 6.98 ms per loop
time: 2.89 s

In [10]:
%timeit C.head(5)

1000 loops, best of 3: 335 Âµs per loop
time: 1.46 s