In [1]:
%load_ext autotime

In [2]:
import sys
import os
sys.path.append('/scratch/pradap/python-work/anhaidgroup/magellan/')

time: 148 ms

In [3]:
import magellan as mg

time: 1.47 s

In [4]:
datasets_path = os.sep.join([mg.get_install_path(), 'datasets', 'test_datasets'])
path_a = os.sep.join([datasets_path, 'A.csv'])
path_b = os.sep.join([datasets_path, 'B.csv'])
path_c = os.sep.join([datasets_path, 'C.csv'])

time: 2.3 ms

In [5]:
A = mg.read_csv_metadata(path_a)
B = mg.read_csv_metadata(path_b, key='ID')
C = mg.read_csv_metadata(path_c, ltable=A, rtable=B)

WARNING:magellan.io.parsers:Metadata file is not present in the given path; proceeding to read the csv file.

time: 92.3 ms

In [6]:
feature_table = mg.get_features_for_matching(A, B)

WARNING:magellan.feature.autofeaturegen:Magellan types: address type (str_bt_1w_5w) and address type (str_bt_5w_10w) are different.If you want to set them to be same and generate features, update output from get_attr_types and use get_features command.

time: 133 ms

In [7]:
labels = [0]*7
labels.extend([1]*8)
C['labels'] = labels

time: 111 ms

In [8]:
feature_vectors = mg.extract_feature_vecs(C, attrs_after='labels', feature_table=feature_table)

time: 154 ms

In [9]:
feature_vectors

,_id,ltable_ID,rtable_ID,ID_ID_lev,ID_ID_jar,ID_ID_jwn,ID_ID_exm,ID_ID_jac_qgm_3_qgm_3,name_name_jac_qgm_3_qgm_3,name_name_cos_dlm_dc0_dlm_dc0,...,birth_year_birth_year_exm,birth_year_birth_year_anm,birth_year_birth_year_lev,hourly_wage_hourly_wage_exm,hourly_wage_hourly_wage_anm,hourly_wage_hourly_wage_lev,zipcode_zipcode_exm,zipcode_zipcode_anm,zipcode_zipcode_lev,labels
0,0,a1,b1,1,0.666667,0.666667,0,1.0,0.000000,0.0,...,0,0.998994,1.0,0,0.983333,3.0,1,1.0,0.0,0
1,1,a1,b2,2,0.000000,0.000000,0,1.0,0.000000,0.0,...,0,0.998492,1.0,0,0.937500,1.0,1,1.0,0.0,0
2,2,a1,b6,2,0.000000,0.000000,0,1.0,0.000000,0.0,...,0,0.998994,1.0,0,0.923077,2.0,1,1.0,0.0,0
3,6,a2,b3,2,0.000000,0.000000,0,1.0,0.388889,0.5,...,1,1.000000,0.0,1,1.000000,0.0,1,1.0,0.0,0
4,7,a2,b4,2,0.000000,0.000000,0,1.0,0.000000,0.0,...,0,0.996982,1.0,0,0.945455,2.0,1,1.0,0.0,0
5,8,a2,b5,2,0.000000,0.000000,0,1.0,0.000000,0.0,...,0,0.997988,1.0,0,0.785714,3.0,1,1.0,0.0,0
6,3,a3,b1,2,0.000000,0.000000,0,1.0,0.000000,0.0,...,0,0.999497,1.0,0,0.921875,3.0,1,1.0,0.0,0
7,4,a3,b2,2,0.000000,0.000000,0,1.0,0.400000,0.5,...,1,1.000000,0.0,1,1.000000,0.0,1,1.0,0.0,1
8,5,a3,b6,2,0.000000,0.000000,0,1.0,0.043478,0.0,...,0,0.999497,1.0,0,0.984615,1.0,1,1.0,0.0,1
9,9,a4,b3,2,0.000000,0.000000,0,1.0,0.000000,0.0,...,0,0.999497,1.0,0,0.846154,2.0,1,1.0,0.0,1
10,10,a4,b4,1,0.666667,0.666667,0,1.0,0.000000,0.0,...,0,0.997484,1.0,0,0.800000,3.0,1,1.0,0.0,1
11,11,a4,b5,2,0.000000,0.000000,0,1.0,0.000000,0.0,...,0,0.998490,1.0,0,0.928571,2.0,1,1.0,0.0,1
12,12,a5,b3,2,0.000000,0.000000,0,1.0,0.000000,0.0,...,0,0.997988,1.0,0,0.785714,3.0,1,1.0,0.0,1
13,13,a5,b4,2,0.000000,0.000000,0,1.0,0.000000,0.0,...,0,0.998992,1.0,0,0.742857,2.0,1,1.0,0.0,1
14,14,a5,b5,1,0.666667,0.666667,0,1.0,0.333333,0.5,...,1,1.000000,0.0,1,1.000000,0.0,1,1.0,0.0,1

time: 126 ms

In [10]:
# matchers
dtmatcher = mg.DTMatcher()
nbmatcher = mg.NBMatcher()
rfmatcher = mg.RFMatcher()
svmmatcher = mg.SVMMatcher()
linregmatcher = mg.LinRegMatcher()
logregmatcher = mg.LogRegMatcher()

time: 43.7 ms

In [11]:
matchers = [dtmatcher, nbmatcher, rfmatcher, svmmatcher, linregmatcher, logregmatcher]

time: 122 ms

In [12]:
x = 'temp'
y = ['atemp', 'btemp']
y.append(x)

time: 127 ms

In [13]:
y

['atemp', 'btemp', 'temp']

time: 97.8 ms

In [18]:
result = mg.select_matcher(matchers, table=feature_vectors, exclude_attrs=['ltable_ID1', 'rtable_ID', 'labels'], target_attr=['labels'])

WARNING:magellan.utils.catalog_helper:Column name (ltable_ID1) is not present in dataframe
ERROR:magellan.matcherselector.mlmatcherselection:The attributes mentioned in exclude_attrs is not present in the input table

AssertionError: The attributes mentioned in exclude_attrs is not present in the input table

time: 15.8 ms

In [22]:
d = result['cv_stats']

time: 753 µs

In [24]:
d.set_index('Name', inplace=True, drop=True)

time: 1.55 ms

In [27]:
x = d.ix[result['selected_matcher'].name, 'Mean score']

time: 805 µs

In [35]:
col_list = list(feature_vectors.columns)

time: 721 µs

In [36]:
from magellan.utils.generic_helper import list_diff, list_drop_duplicates

time: 720 µs

In [37]:
import magellan as mg

time: 601 µs

In [38]:
import magellan.catalog.catalog_manager as cm

time: 678 µs

In [43]:
l = list_diff(col_list, [mg.get_key(feature_vectors), cm.get_fk_ltable(feature_vectors), cm.get_fk_rtable(feature_vectors)
                     , 'labels'])

time: 1.1 ms

In [45]:
fvl = feature_vectors[l]

time: 1.52 ms

In [46]:
fvl

,ID_ID_lev,ID_ID_jar,ID_ID_jwn,ID_ID_exm,ID_ID_jac_qgm_3_qgm_3,name_name_jac_qgm_3_qgm_3,name_name_cos_dlm_dc0_dlm_dc0,name_name_jac_dlm_dc0_dlm_dc0,name_name_mel,name_name_lev,...,name_name_sw,birth_year_birth_year_exm,birth_year_birth_year_anm,birth_year_birth_year_lev,hourly_wage_hourly_wage_exm,hourly_wage_hourly_wage_anm,hourly_wage_hourly_wage_lev,zipcode_zipcode_exm,zipcode_zipcode_anm,zipcode_zipcode_lev
0,1,0.666667,0.666667,0,1.0,0.000000,0.0,0.000000,0.393939,11,...,3.0,0,0.998994,1.0,0,0.983333,3.0,1,1.0,0.0
1,2,0.000000,0.000000,0,1.0,0.000000,0.0,0.000000,0.515152,10,...,2.0,0,0.998492,1.0,0,0.937500,1.0,1,1.0,0.0
2,2,0.000000,0.000000,0,1.0,0.000000,0.0,0.000000,0.466450,13,...,2.0,0,0.998994,1.0,0,0.923077,2.0,1,1.0,0.0
3,2,0.000000,0.000000,0,1.0,0.388889,0.5,0.333333,0.823932,4,...,9.0,1,1.000000,0.0,1,1.000000,0.0,1,1.0,0.0
4,2,0.000000,0.000000,0,1.0,0.000000,0.0,0.000000,0.455682,13,...,3.0,0,0.996982,1.0,0,0.945455,2.0,1,1.0,0.0
5,2,0.000000,0.000000,0,1.0,0.000000,0.0,0.000000,0.432372,15,...,2.0,0,0.997988,1.0,0,0.785714,3.0,1,1.0,0.0
6,2,0.000000,0.000000,0,1.0,0.000000,0.0,0.000000,0.495671,12,...,2.0,0,0.999497,1.0,0,0.921875,3.0,1,1.0,0.0
7,2,0.000000,0.000000,0,1.0,0.400000,0.5,0.333333,0.807792,4,...,8.0,1,1.000000,0.0,1,1.000000,0.0,1,1.0,0.0
8,2,0.000000,0.000000,0,1.0,0.043478,0.0,0.000000,0.687831,8,...,6.0,0,0.999497,1.0,0,0.984615,1.0,1,1.0,0.0
9,2,0.000000,0.000000,0,1.0,0.000000,0.0,0.000000,0.463675,12,...,2.0,0,0.999497,1.0,0,0.846154,2.0,1,1.0,0.0
10,1,0.666667,0.666667,0,1.0,0.000000,0.0,0.000000,0.396465,12,...,1.0,0,0.997484,1.0,0,0.800000,3.0,1,1.0,0.0
11,2,0.000000,0.000000,0,1.0,0.000000,0.0,0.000000,0.542735,11,...,2.0,0,0.998490,1.0,0,0.928571,2.0,1,1.0,0.0
12,2,0.000000,0.000000,0,1.0,0.000000,0.0,0.000000,0.310256,15,...,2.0,0,0.997988,1.0,0,0.785714,3.0,1,1.0,0.0
13,2,0.000000,0.000000,0,1.0,0.000000,0.0,0.000000,0.586869,12,...,2.0,0,0.998992,1.0,0,0.742857,2.0,1,1.0,0.0
14,1,0.666667,0.666667,0,1.0,0.333333,0.5,0.333333,0.859487,3,...,10.0,1,1.000000,0.0,1,1.000000,0.0,1,1.0,0.0

time: 52 ms

In [50]:
result1 = mg.select_matcher(matchers, fvl, feature_vectors['labels'], k = 2)

time: 63.9 ms

In [51]:
result1['cv_stats']

,Name,Matcher,Num folds,Fold 1,Fold 2,Mean score
0,DecisionTree_00021128457800335641,<magellan.matcher.dtmatcher.DTMatcher object a...,2,0.500000,0.000000,0.250000
1,NaiveBayes_27895928457800335641,<magellan.matcher.nbmatcher.NBMatcher object a...,2,0.500000,0.250000,0.375000
2,RandomForest_29315438457800335641,<magellan.matcher.rfmatcher.RFMatcher object a...,2,0.250000,0.333333,0.291667
3,SVM_04207148457800335641,<magellan.matcher.svmmatcher.SVMMatcher object...,2,0.500000,0.333333,0.416667
4,LinearRegression_48709748457800335641,<magellan.matcher.linregmatcher.LinRegMatcher ...,2,0.400000,0.500000,0.450000
5,LogisticRegression_61007258457800335641,<magellan.matcher.logregmatcher.LogRegMatcher ...,2,0.333333,0.500000,0.416667

time: 12.9 ms

In [28]:
import pandas as pd

time: 601 µs

In [33]:
list(d.columns[[0, 1, 2]])

['Matcher', 'Num folds', 'Fold 1']

time: 1.83 ms

In [30]:
pd.np.max(d['Mean score']) == x

True

time: 1.84 ms