In [1]:
%load_ext autotime

In [2]:
import sys
sys.path.append('/Users/pradap/Documents/Research/Python-Package/magellan/')

time: 1.18 ms

In [3]:
import magellan as mg

DEBUG:Cloud:Log file (/Users/pradap/.picloud/cloud.log) opened

time: 1.44 s

In [4]:
A = mg.load_dataset('table_A')
B = mg.load_dataset('table_B')

time: 7.36 ms

time: 1.11 ms

In [6]:
feature_table = mg.get_features_for_blocking(A, B)

WARNING:magellan.feature.autofeaturegen:Magellan types: address type (str_bt_1w_5w) and address type (str_bt_5w_10w) are different.If you want to set them to be same and generate features, update output from get_attr_types and use get_features command.

time: 23.2 ms

In [7]:
feature_table['feature_name']

0                         ID_ID_lev
1                         ID_ID_jar
2                         ID_ID_jwn
3                         ID_ID_exm
4             ID_ID_jac_qgm_3_qgm_3
5         name_name_jac_qgm_3_qgm_3
6     name_name_cos_dlm_dc0_dlm_dc0
7     name_name_jac_dlm_dc0_dlm_dc0
8                     name_name_mel
9                     name_name_lev
10                    name_name_nmw
11                     name_name_sw
12        birth_year_birth_year_exm
13        birth_year_birth_year_anm
14        birth_year_birth_year_lev
15      hourly_wage_hourly_wage_exm
16      hourly_wage_hourly_wage_anm
17      hourly_wage_hourly_wage_lev
18              zipcode_zipcode_exm
19              zipcode_zipcode_anm
20              zipcode_zipcode_lev
Name: feature_name, dtype: object

time: 11.1 ms

In [14]:
rb = mg.RuleBasedBlocker()
rb.add_rule('zipcode_zipcode_exm(ltuple, rtuple) != 1', feature_table)

time: 1.47 ms

In [17]:
C = rb.block_tables(A, B, l_output_attrs=['zipcode'], r_output_attrs=['zipcode'])

0%                          100%
[##############################] | ETA[sec]: 0.000

time: 63.5 ms

Total time elapsed: 0.058 sec

In [18]:
C

    _id ltable_ID rtable_ID  ltable_zipcode  rtable_zipcode
0     0        a1        b1           94107           94107
1     1        a1        b2           94107           94107
2     2        a1        b6           94107           94107
3     3        a2        b3           94122           94122
4     4        a2        b4           94122           94122
5     5        a2        b5           94122           94122
6     6        a3        b1           94107           94107
7     7        a3        b2           94107           94107
8     8        a3        b6           94107           94107
9     9        a4        b3           94122           94122
10   10        a4        b4           94122           94122
11   11        a4        b5           94122           94122
12   12        a5        b3           94122           94122
13   13        a5        b4           94122           94122
14   14        a5        b5           94122           94122

time: 17.8 ms