In [1]:
%load_ext autotime

In [2]:
import sys

time: 570 µs

In [3]:
sys.path.append('/scratch/pradap/python-work/magellan/')

time: 674 µs

In [4]:
import magellan as mg

DEBUG:Cloud:Log file (/u/p/r/pradap/.picloud/cloud.log) opened

time: 993 ms

In [5]:
A = mg.load_dataset('table_A')
B = mg.load_dataset('table_B')

time: 4.61 ms

In [6]:
ab = mg.AttrEquivalenceBlocker()
C = ab.block_tables(A, B, 'zipcode', 'zipcode')

time: 8.24 ms

In [7]:
import pandas as pd

time: 655 µs

In [8]:
D = pd.concat([C, C])

time: 1.5 ms

In [9]:
D.reset_index(inplace=True, drop=True)

time: 795 µs

In [10]:
E = D[['ltable_ID', 'rtable_ID']]

time: 157 ms

In [11]:
F = E.drop_duplicates()

time: 1.77 ms

In [13]:
F

,ltable_ID,rtable_ID
0,a1,b1
1,a1,b2
2,a1,b6
3,a3,b1
4,a3,b2
5,a3,b6
6,a2,b3
7,a2,b4
8,a2,b5
9,a4,b3
10,a4,b4
11,a4,b5
12,a5,b3
13,a5,b4
14,a5,b5

time: 8.62 ms