In [1]:
import sys
sys.path.append('/Users/pradap/Documents/Research/Python-Package/anhaid/magellan/')

In [2]:
import magellan as mg

In [3]:
A = mg.load_dataset('table_A', key='ID')
B = mg.load_dataset('table_B', key='ID')

In [4]:
f = mg.get_features_for_blocking(A, B)

In [5]:
xx = """
def temp__(ltuple, rtuple):
    return lev(ltuple.name, rtuple.name)
"""

In [6]:
t = {}
t.update(mg._block_t)
t.update(mg._block_s)

In [7]:
import six

In [8]:
six.exec_(xx, t)

In [9]:
t['temp__']

In [10]:
six.exec_('myfunction=t["temp__"]')

In [11]:
feat_dict = mg.get_feature_fn('lev(ltuple.name, rtuple.name)', mg._block_t, mg._block_s)

In [12]:
feat_dict

{'function': <function fn>,
 'function_source': 'def fn(ltuple, rtuple):\n    return lev(ltuple.name, rtuple.name)',
 'is_auto_generated': False,
 'left_attr_tokenizer': 'PARSE_EXP',
 'left_attribute': 'PARSE_EXP',
 'right_attr_tokenizer': 'PARSE_EXP',
 'right_attribute': 'PARSE_EXP',
 'simfunction': 'lev'}

In [13]:
mg.add_feature(f, 'lev_name_name1', feat_dict)

True

In [14]:
f

,feature_name,left_attribute,right_attribute,left_attr_tokenizer,right_attr_tokenizer,simfunction,function,function_source,is_auto_generated
0,ID_ID_lev,ID,ID,None,None,lev,<function ID_ID_lev at 0x1077bfc80>,from magellan.feature.simfunctions import *\nf...,True
1,ID_ID_jar,ID,ID,None,None,jaro,<function ID_ID_jar at 0x11756ae18>,from magellan.feature.simfunctions import *\nf...,True
2,ID_ID_jwn,ID,ID,None,None,jaro_winkler,<function ID_ID_jwn at 0x11757c1e0>,from magellan.feature.simfunctions import *\nf...,True
3,ID_ID_exm,ID,ID,None,None,exact_match,<function ID_ID_exm at 0x11757c268>,from magellan.feature.simfunctions import *\nf...,True
4,ID_ID_jac_qgm_3_qgm_3,ID,ID,qgm_3,qgm_3,jaccard,<function ID_ID_jac_qgm_3_qgm_3 at 0x11757c158>,from magellan.feature.simfunctions import *\nf...,True
5,name_name_jac_qgm_3_qgm_3,name,name,qgm_3,qgm_3,jaccard,<function name_name_jac_qgm_3_qgm_3 at 0x11757...,from magellan.feature.simfunctions import *\nf...,True
6,name_name_cos_dlm_dc0_dlm_dc0,name,name,dlm_dc0,dlm_dc0,cosine,<function name_name_cos_dlm_dc0_dlm_dc0 at 0x1...,from magellan.feature.simfunctions import *\nf...,True
7,name_name_jac_dlm_dc0_dlm_dc0,name,name,dlm_dc0,dlm_dc0,jaccard,<function name_name_jac_dlm_dc0_dlm_dc0 at 0x1...,from magellan.feature.simfunctions import *\nf...,True
8,name_name_mel,name,name,None,None,monge_elkan,<function name_name_mel at 0x11757c488>,from magellan.feature.simfunctions import *\nf...,True
9,name_name_lev,name,name,None,None,lev,<function name_name_lev at 0x11757c510>,from magellan.feature.simfunctions import *\nf...,True
10,name_name_nmw,name,name,None,None,needleman_wunsch,<function name_name_nmw at 0x11757c598>,from magellan.feature.simfunctions import *\nf...,True
11,name_name_sw,name,name,None,None,smith_waterman,<function name_name_sw at 0x11757c620>,from magellan.feature.simfunctions import *\nf...,True
12,birth_year_birth_year_exm,birth_year,birth_year,None,None,exact_match,<function birth_year_birth_year_exm at 0x11757...,from magellan.feature.simfunctions import *\nf...,True
13,birth_year_birth_year_anm,birth_year,birth_year,None,None,abs_norm,<function birth_year_birth_year_anm at 0x11757...,from magellan.feature.simfunctions import *\nf...,True
14,birth_year_birth_year_lev,birth_year,birth_year,None,None,lev,<function birth_year_birth_year_lev at 0x11757...,from magellan.feature.simfunctions import *\nf...,True
15,hourly_wage_hourly_wage_exm,hourly_wage,hourly_wage,None,None,exact_match,<function hourly_wage_hourly_wage_exm at 0x117...,from magellan.feature.simfunctions import *\nf...,True
16,hourly_wage_hourly_wage_anm,hourly_wage,hourly_wage,None,None,abs_norm,<function hourly_wage_hourly_wage_anm at 0x117...,from magellan.feature.simfunctions import *\nf...,True
17,hourly_wage_hourly_wage_lev,hourly_wage,hourly_wage,None,None,lev,<function hourly_wage_hourly_wage_lev at 0x117...,from magellan.feature.simfunctions import *\nf...,True
18,zipcode_zipcode_exm,zipcode,zipcode,None,None,exact_match,<function zipcode_zipcode_exm at 0x11757c9d8>,from magellan.feature.simfunctions import *\nf...,True
19,zipcode_zipcode_anm,zipcode,zipcode,None,None,abs_norm,<function zipcode_zipcode_anm at 0x11757ca60>,from magellan.feature.simfunctions import *\nf...,True
20,zipcode_zipcode_lev,zipcode,zipcode,None,None,lev,<function zipcode_zipcode_lev at 0x11757cae8>,from magellan.feature.simfunctions import *\nf...,True
21,lev_name_name1,PARSE_EXP,PARSE_EXP,PARSE_EXP,PARSE_EXP,lev,<function fn at 0x121d50048>,"def fn(ltuple, rtuple):\n return lev(ltuple...",False

In [15]:
feat_dict = mg.get_feature_fn('exact_match(ltuple.zipcode, rtuple.zipcode)', mg._block_t, mg._block_s)

In [16]:
mg.add_feature(f, 'exm_zipcode_zipcode', feat_dict)

True

In [17]:
f

,feature_name,left_attribute,right_attribute,left_attr_tokenizer,right_attr_tokenizer,simfunction,function,function_source,is_auto_generated
0,ID_ID_lev,ID,ID,None,None,lev,<function ID_ID_lev at 0x1077bfc80>,from magellan.feature.simfunctions import *\nf...,True
1,ID_ID_jar,ID,ID,None,None,jaro,<function ID_ID_jar at 0x11756ae18>,from magellan.feature.simfunctions import *\nf...,True
2,ID_ID_jwn,ID,ID,None,None,jaro_winkler,<function ID_ID_jwn at 0x11757c1e0>,from magellan.feature.simfunctions import *\nf...,True
3,ID_ID_exm,ID,ID,None,None,exact_match,<function ID_ID_exm at 0x11757c268>,from magellan.feature.simfunctions import *\nf...,True
4,ID_ID_jac_qgm_3_qgm_3,ID,ID,qgm_3,qgm_3,jaccard,<function ID_ID_jac_qgm_3_qgm_3 at 0x11757c158>,from magellan.feature.simfunctions import *\nf...,True
5,name_name_jac_qgm_3_qgm_3,name,name,qgm_3,qgm_3,jaccard,<function name_name_jac_qgm_3_qgm_3 at 0x11757...,from magellan.feature.simfunctions import *\nf...,True
6,name_name_cos_dlm_dc0_dlm_dc0,name,name,dlm_dc0,dlm_dc0,cosine,<function name_name_cos_dlm_dc0_dlm_dc0 at 0x1...,from magellan.feature.simfunctions import *\nf...,True
7,name_name_jac_dlm_dc0_dlm_dc0,name,name,dlm_dc0,dlm_dc0,jaccard,<function name_name_jac_dlm_dc0_dlm_dc0 at 0x1...,from magellan.feature.simfunctions import *\nf...,True
8,name_name_mel,name,name,None,None,monge_elkan,<function name_name_mel at 0x11757c488>,from magellan.feature.simfunctions import *\nf...,True
9,name_name_lev,name,name,None,None,lev,<function name_name_lev at 0x11757c510>,from magellan.feature.simfunctions import *\nf...,True
10,name_name_nmw,name,name,None,None,needleman_wunsch,<function name_name_nmw at 0x11757c598>,from magellan.feature.simfunctions import *\nf...,True
11,name_name_sw,name,name,None,None,smith_waterman,<function name_name_sw at 0x11757c620>,from magellan.feature.simfunctions import *\nf...,True
12,birth_year_birth_year_exm,birth_year,birth_year,None,None,exact_match,<function birth_year_birth_year_exm at 0x11757...,from magellan.feature.simfunctions import *\nf...,True
13,birth_year_birth_year_anm,birth_year,birth_year,None,None,abs_norm,<function birth_year_birth_year_anm at 0x11757...,from magellan.feature.simfunctions import *\nf...,True
14,birth_year_birth_year_lev,birth_year,birth_year,None,None,lev,<function birth_year_birth_year_lev at 0x11757...,from magellan.feature.simfunctions import *\nf...,True
15,hourly_wage_hourly_wage_exm,hourly_wage,hourly_wage,None,None,exact_match,<function hourly_wage_hourly_wage_exm at 0x117...,from magellan.feature.simfunctions import *\nf...,True
16,hourly_wage_hourly_wage_anm,hourly_wage,hourly_wage,None,None,abs_norm,<function hourly_wage_hourly_wage_anm at 0x117...,from magellan.feature.simfunctions import *\nf...,True
17,hourly_wage_hourly_wage_lev,hourly_wage,hourly_wage,None,None,lev,<function hourly_wage_hourly_wage_lev at 0x117...,from magellan.feature.simfunctions import *\nf...,True
18,zipcode_zipcode_exm,zipcode,zipcode,None,None,exact_match,<function zipcode_zipcode_exm at 0x11757c9d8>,from magellan.feature.simfunctions import *\nf...,True
19,zipcode_zipcode_anm,zipcode,zipcode,None,None,abs_norm,<function zipcode_zipcode_anm at 0x11757ca60>,from magellan.feature.simfunctions import *\nf...,True
20,zipcode_zipcode_lev,zipcode,zipcode,None,None,lev,<function zipcode_zipcode_lev at 0x11757cae8>,from magellan.feature.simfunctions import *\nf...,True
21,lev_name_name1,PARSE_EXP,PARSE_EXP,PARSE_EXP,PARSE_EXP,lev,<function fn at 0x121d50048>,"def fn(ltuple, rtuple):\n return lev(ltuple...",False
22,exm_zipcode_zipcode,PARSE_EXP,PARSE_EXP,PARSE_EXP,PARSE_EXP,exact_match,<function fn at 0x121d50158>,"def fn(ltuple, rtuple):\n return exact_matc...",False

In [18]:
mg._block_s

{'abs_norm': <function magellan.feature.simfunctions.abs_norm>,
 'cosine': <function magellan.feature.simfunctions.cosine>,
 'exact_match': <function magellan.feature.simfunctions.exact_match>,
 'jaccard': <function magellan.feature.simfunctions.jaccard>,
 'jaro': <function magellan.feature.simfunctions.jaro>,
 'jaro_winkler': <function magellan.feature.simfunctions.jaro_winkler>,
 'lev': <function magellan.feature.simfunctions.lev>,
 'monge_elkan': <function magellan.feature.simfunctions.monge_elkan>,
 'needleman_wunsch': <function magellan.feature.simfunctions.needleman_wunsch>,
 'rel_diff': <function magellan.feature.simfunctions.rel_diff>,
 'smith_waterman': <function magellan.feature.simfunctions.smith_waterman>}

In [19]:
feat_dict['function'](A.ix[1], B.ix[2])

1

In [20]:
f.ix[5, 'function'](A.ix[1], B.ix[2])

0.3888888888888889

In [21]:
A

,ID,name,birth_year,hourly_wage,address,zipcode
0,a1,Kevin Smith,1989,30.0,"607 From St, San Francisco",94107
1,a2,Michael Franklin,1988,27.5,"1652 Stockton St, San Francisco",94122
2,a3,William Bridge,1986,32.0,"3131 Webster St, San Francisco",94107
3,a4,Binto George,1987,32.5,"423 Powell St, San Francisco",94122
4,a5,Alphonse Kemper,1984,35.0,"1702 Post Street, San Francisco",94122

In [22]:
B

,ID,name,birth_year,hourly_wage,address,zipcode
0,b1,Mark Levene,1987,29.5,"108 Clement St, San Francisco",94107
1,b2,Bill Bridge,1986,32.0,"3131 Webster St, San Francisco",94107
2,b3,Mike Franklin,1988,27.5,"1652 Stockton St, San Francisco",94122
3,b4,Joseph Kuan,1982,26.0,"108 South Park, San Francisco",94122
4,b5,Alfons Kemper,1984,35.0,"170 Post St, Apt 4, San Francisco",94122
5,b6,Michael Brodie,1987,32.5,"133 Clement Street, San Francisco",94107

In [23]:
f.ix[18, 'function_source']

'from magellan.feature.simfunctions import *\nfrom magellan.feature.tokenizers import *\ndef zipcode_zipcode_exm(ltuple, rtuple):\n    return exact_match(ltuple["zipcode"], rtuple["zipcode"])'

In [24]:
mg._block_s['lev'](A.ix[1, 'name'], B.ix[2, 'name'])

4

In [25]:
f.ix[18, 'function'](A.ix[1], B.ix[2])

1

In [26]:
fd = mg.get_feature_fn('lev(ltuple["name"], rtuple["name"])', mg._block_s, mg._block_t)

In [27]:
fd['function_source']

'def fn(ltuple, rtuple):\n    return lev(ltuple["name"], rtuple["name"])'

In [28]:
l = A.ix[1]
r = B.ix[2]

In [29]:
l.name

1