In [1]:
%load_ext autotime

In [2]:
import sys
#sys.path.append('/scratch/pradap/python-work/magellan')
sys.path.append('/Users/pradap/Documents/Research/Python-Package/anhaid/magellan/')

time: 1.02 ms

In [3]:
import magellan as mg

time: 3.04 s

In [4]:
A = mg.load_dataset('table_A', key='ID')
B = mg.load_dataset('table_B', key='ID')

time: 7.4 ms

In [5]:
def zip_function(ltuple, rtuple):
    if ltuple.zipcode == rtuple.zipcode:
        return False
    else:
        return True

time: 1.77 ms

In [6]:
bb = mg.BlackBoxBlocker()
bb.set_black_box_function(zip_function)

time: 1.23 ms

In [7]:
C = bb.block_tables(A, B, ['name', 'birth_year'], ['name', 'birth_year'])

0%                          100%
[##############################] | ETA: 00:00:00

time: 87.7 ms

Total time elapsed: 00:00:00

In [8]:
C

,_id,ltable_ID,rtable_ID,ltable_name,ltable_birth_year,rtable_name,rtable_birth_year
0,0,a1,b1,Kevin Smith,1989,Mark Levene,1987
1,1,a1,b2,Kevin Smith,1989,Bill Bridge,1986
2,2,a1,b6,Kevin Smith,1989,Michael Brodie,1987
3,3,a2,b3,Michael Franklin,1988,Mike Franklin,1988
4,4,a2,b4,Michael Franklin,1988,Joseph Kuan,1982
5,5,a2,b5,Michael Franklin,1988,Alfons Kemper,1984
6,6,a3,b1,William Bridge,1986,Mark Levene,1987
7,7,a3,b2,William Bridge,1986,Bill Bridge,1986
8,8,a3,b6,William Bridge,1986,Michael Brodie,1987
9,9,a4,b3,Binto George,1987,Mike Franklin,1988
10,10,a4,b4,Binto George,1987,Joseph Kuan,1982
11,11,a4,b5,Binto George,1987,Alfons Kemper,1984
12,12,a5,b3,Alphonse Kemper,1984,Mike Franklin,1988
13,13,a5,b4,Alphonse Kemper,1984,Joseph Kuan,1982
14,14,a5,b5,Alphonse Kemper,1984,Alfons Kemper,1984

time: 31 ms

In [9]:
def birth_fn(ltuple, rtuple):
    if ltuple.birth_year == rtuple.birth_year:
        return False
    else:
        return True

time: 1.82 ms

In [10]:
bb.set_black_box_function(birth_fn)

time: 814 Âµs

In [11]:
D = bb.block_candset(C)

0%           100%
[###############] | ETA: 00:00:00

time: 30.8 ms

Total time elapsed: 00:00:00

In [12]:
D

,_id,ltable_ID,rtable_ID,ltable_name,ltable_birth_year,rtable_name,rtable_birth_year
3,3,a2,b3,Michael Franklin,1988,Mike Franklin,1988
7,7,a3,b2,William Bridge,1986,Bill Bridge,1986
14,14,a5,b5,Alphonse Kemper,1984,Alfons Kemper,1984

time: 9.59 ms

In [ ]:
E