In [1]:
%load_ext autotime

In [3]:
import sys
sys.path.append('/Users/pradap/Documents/Research/Python-Package/anhaid/magellan/')

time: 1.03 ms

In [4]:
import magellan as mg

time: 3.36 s

In [5]:
A = mg.load_dataset('table_A', key='ID')

time: 11.2 ms

In [6]:
A['temp'] = True

time: 1.97 ms

In [7]:
col = A['temp']

,ID,name,birth_year,hourly_wage,address,zipcode,temp
0,a1,Kevin Smith,1989,30.0,"607 From St, San Francisco",94107,True
1,a2,Michael Franklin,1988,27.5,"1652 Stockton St, San Francisco",94122,True
2,a3,William Bridge,1986,32.0,"3131 Webster St, San Francisco",94107,True
3,a4,Binto George,1987,32.5,"423 Powell St, San Francisco",94122,True
4,a5,Alphonse Kemper,1984,35.0,"1702 Post Street, San Francisco",94122,True

time: 31.9 ms