In [1]:
%load_ext autotime

In [2]:
import sys
sys.path.append('/scratch/pradap/python-work/magellan')

time: 106 ms

In [3]:
import magellan as mg

DEBUG:Cloud:Log file (/u/p/r/pradap/.picloud/cloud.log) opened

time: 668 ms

In [4]:
A = mg.load_dataset('table_A')
B = mg.load_dataset('table_B')

time: 4.43 ms

In [11]:
ab = mg.AttrEquivalenceBlocker()
C = ab.block_tables(A, B, 'zipcode', 'zipcode', ['name', 'address'], ['name', 'address'])

time: 7.23 ms

In [6]:
from magellan.utils.generic_helper import add_output_attributes

time: 77.1 ms

In [12]:
C = add_output_attributes(C, ['name', 'address'], ['name', 'address'])

time: 8.83 ms

In [8]:
C

,_id,ltable_ID,rtable_ID,ltable_name,ltable_address,rtable_name,rtable_address
0,0,a1,b1,Kevin Smith,"607 From St, San Francisco",Mark Levene,"108 Clement St, San Francisco"
1,1,a1,b2,Kevin Smith,"607 From St, San Francisco",Bill Bridge,"3131 Webster St, San Francisco"
2,2,a1,b6,Kevin Smith,"607 From St, San Francisco",Michael Brodie,"133 Clement Street, San Francisco"
3,3,a3,b1,William Bridge,"3131 Webster St, San Francisco",Mark Levene,"108 Clement St, San Francisco"
4,4,a3,b2,William Bridge,"3131 Webster St, San Francisco",Bill Bridge,"3131 Webster St, San Francisco"
5,5,a3,b6,William Bridge,"3131 Webster St, San Francisco",Michael Brodie,"133 Clement Street, San Francisco"
6,6,a2,b3,Michael Franklin,"1652 Stockton St, San Francisco",Mike Franklin,"1652 Stockton St, San Francisco"
7,7,a2,b4,Michael Franklin,"1652 Stockton St, San Francisco",Joseph Kuan,"108 South Park, San Francisco"
8,8,a2,b5,Michael Franklin,"1652 Stockton St, San Francisco",Alfons Kemper,"170 Post St, Apt 4, San Francisco"
9,9,a4,b3,Binto George,"423 Powell St, San Francisco",Mike Franklin,"1652 Stockton St, San Francisco"
10,10,a4,b4,Binto George,"423 Powell St, San Francisco",Joseph Kuan,"108 South Park, San Francisco"
11,11,a4,b5,Binto George,"423 Powell St, San Francisco",Alfons Kemper,"170 Post St, Apt 4, San Francisco"
12,12,a5,b3,Alphonse Kemper,"1702 Post Street, San Francisco",Mike Franklin,"1652 Stockton St, San Francisco"
13,13,a5,b4,Alphonse Kemper,"1702 Post Street, San Francisco",Joseph Kuan,"108 South Park, San Francisco"
14,14,a5,b5,Alphonse Kemper,"1702 Post Street, San Francisco",Alfons Kemper,"170 Post St, Apt 4, San Francisco"

time: 28.4 ms

In [10]:
mg.get_catalog_len()

3

time: 1.5 ms

In [20]:
ob = mg.OverlapBlocker()
D = ob.block_tables(A, B, 'address', 'address')

0%  100%
[######] | ETA[sec]: 0.000

time: 38.9 ms

Total time elapsed: 0.021 sec

In [21]:
D.reset_index(inplace=True, drop=True)

time: 962 µs

In [24]:
pd.conC[['ltable_ID', 'rtable_ID']]

   ltable_ID rtable_ID
0         a1        b1
1         a1        b2
2         a1        b6
3         a3        b1
4         a3        b2
5         a3        b6
6         a2        b3
7         a2        b4
8         a2        b5
9         a4        b3
10        a4        b4
11        a4        b5
12        a5        b3
13        a5        b4
14        a5        b5

time: 9.64 ms