In [1]:
%load_ext autotime

In [2]:
import sys
sys.path.append('/Users/pradap/Documents/Research/Python-Package/anhaid/py_entitymatching/')

time: 1.1 ms

In [3]:
import py_entitymatching as em

time: 1.31 s

In [4]:
A = em.read_csv_metadata('dblp_demo_orig.csv')
B = em.read_csv_metadata('acm_demo_orig.csv')

time: 26.5 ms

In [5]:
L = em.read_csv_metadata('labeled_data_demo.csv', ltable=A, rtable=B)
L = em.add_output_attributes(L, l_output_attrs=['title', 'authors'], r_output_attrs=['title', 'authors'])
L['ltable_authors'] = L.ltable_authors.str.lower()
L['rtable_title'] = L.rtable_title.str.lower()

time: 30.2 ms

In [6]:
def fn(row):
    return em.jaccard(em.tok_qgram(row['ltable_authors'], 3), em.tok_qgram(row['rtable_title'], 3))

time: 1.77 ms

In [7]:
L['similarity'] = L.apply(fn, axis=1)

time: 86.8 ms

In [8]:
L1 = L[L['similarity'] > 0.4]

time: 2.14 ms

In [9]:
tt = L1.sort_values('similarity', ascending=True)

time: 2.34 ms

In [10]:
len(tt)

75

time: 28.8 ms

In [11]:
tt.head()

,_id,ltable_id,rtable_id,gold,ltable_title,ltable_authors,rtable_title,rtable_authors,similarity
37,37,l1165,r850,1,Won Kim,observations on the odmg-93 proposal,observations on the odmg-93 proposal for an object-oriented database language,Won Kim,0.444444
343,343,l546,r699,1,"Jennifer Widom, Mayur Datar, Shivnath Babu, Justin Rosenstein, Itaru Nishizawa, Arvind Arasu, Ke...",stream: the stanford stream data manager,stream: the stanford stream data manager (demonstration description),"Arvind Arasu, Brian Babcock, Shivnath Babu, Mayur Datar, Keith Ito, Itaru Nishizawa, Justin Rose...",0.546875
242,242,l1645,r1466,1,"Gale Martin, Ray Shea, Tomasz Ksiezyk, Roberto J. Bayardo Jr., Marian H. Nodine, William Bohrer,...",infosleuth: semantic integration of information in open and dynamic environments (experience paper),infosleuth: agent-based semantic integration of information in open and dynamic environments,"R. J. Bayardo, Jr., W. Bohrer, R. Brice, A. Cichocki, J. Fowler, A. Helal, V. Kashyap, T. Ksiezy...",0.663462
411,411,l1773,r224,1,Anil Nori,application architecture: 2tier or 3tier? what is dbms's role? (panel abstract),application architecture (panel session): 2tier or 3tier? what is dbms's role?,Anil K. Nori,0.695652
426,426,l28,r1618,1,Garth A. Gibson,storage technology: raid and beyond,tutorial on storage technology: raid and beyond,Garth A. Gibson,0.700000

time: 22.1 ms

In [12]:
em.to_csv_metadata(tt, './swap_title.csv')

True

time: 11.4 ms

In [13]:
tt.ltable_id.values

array(['l1165', 'l546', 'l1645', 'l1773', 'l28', 'l1392', 'l595', 'l209',
       'l1332', 'l676', 'l1663', 'l58', 'l629', 'l838', 'l1482', 'l828',
       'l1490', 'l1279', 'l596', 'l759', 'l575', 'l1705', 'l430', 'l1066',
       'l695', 'l103', 'l158', 'l538', 'l852', 'l1022', 'l602', 'l650',
       'l1031', 'l1368', 'l973', 'l284', 'l834', 'l746', 'l1787', 'l25',
       'l825', 'l1144', 'l165', 'l649', 'l211', 'l734', 'l1080', 'l1445',
       'l189', 'l1731', 'l150', 'l1442', 'l54', 'l288', 'l605', 'l262',
       'l202', 'l610', 'l77', 'l1430', 'l833', 'l468', 'l639', 'l342',
       'l741', 'l491', 'l160', 'l728', 'l1163', 'l180', 'l1422', 'l810',
       'l114', 'l1534', 'l1205'], dtype=object)

time: 3.49 ms

In [14]:
A1 = A.set_index('id', drop=False)

time: 2.38 ms

In [15]:
titles = A1.ix[tt.ltable_id.values, 'title']
authors = A1.ix[tt.ltable_id.values, 'authors']
A1.ix[tt.ltable_id.values, 'title'] = authors
A1.ix[tt.ltable_id.values, 'authors'] = titles

time: 13.4 ms

In [16]:
A1.reset_index(inplace=True, drop=True)

time: 1.44 ms

In [17]:
A1.head()

,id,title,authors,venue,year
0,l0,Paradise: A Database System for GIS Applications,Paradise Team,SIGMOD Conference,1995
1,l1,A Query Language and Optimization Techniques for Unstructured Data,"Gerd G. Hillebrand, Peter Buneman, Susan B. Davidson, Dan Suciu",SIGMOD Conference,1996
2,l2,Turbo-charging Vertical Mining of Large Databases,"Jayant R. Haritsa, Devavrat Shah, S. Sudarshan, Pradeep Shenoy, Mayank Bawa, Gaurav Bhalotia",SIGMOD Conference,2000
3,l3,Maintenance of Data Cubes and Summary Tables in a Warehouse,"Inderpal Singh Mumick, Dallan Quass, Barinderpal Singh Mumick",SIGMOD Conference,1997
4,l4,On Relational Support for XML Publishing: Beyond Sorting and Tagging,"Raghav Kaushik, Jeffrey F. Naughton, Surajit Chaudhuri",SIGMOD Conference,2003

time: 13.6 ms

In [18]:
em.to_csv_metadata(A1, './dblp_demo.csv')
em.to_csv_metadata(B, './acm_demo.csv')

True

time: 54.1 ms

In [19]:
tt.gold.sum()

75

time: 5.51 ms