In [1]:
%load_ext autotime
%matplotlib inline
import sys
sys.path.append('/Users/pradap/Documents/Research/Python-Package/anhaid/py_entitymatching/')

In [2]:
import py_entitymatching as em

time: 1.44 s

In [3]:
A = em.read_csv_metadata('./ORIG_DBLP_ACM/DBLP_cleaned.csv', key='id')
B = em.read_csv_metadata('./ORIG_DBLP_ACM/ACM_cleaned.csv', key='id')

time: 33.9 ms

In [4]:
gold = em.read_csv_metadata('./ORIG_DBLP_ACM/goldWithLabel.csv', fk_ltable='ltable_id', fk_rtable='rtable_id',
                            ltable=A, rtable=B, key='_id')

time: 9.15 ms

In [5]:
A.set_index('id', inplace=True, drop=False)
B.set_index('id', inplace=True, drop=False)

time: 2.28 ms

In [6]:
A.head(2)

,id,title,authors,venue,year
id,,,,,
journals/sigmod/Mackay99,journals/sigmod/Mackay99,Semantic Integration of Environmental Models for Application to Global Information Systems and D...,D. Scott Mackay,SIGMOD Record,1999
conf/vldb/PoosalaI96,conf/vldb/PoosalaI96,Estimation of Query-Result Distribution and its Application in Parallel-Join Load Balancing,"Viswanath Poosala, Yannis E. Ioannidis",VLDB,1996

time: 21.2 ms

In [7]:
A1 = A.ix[gold.ltable_id.values]

time: 7.3 ms

In [8]:
B1 = B.ix[gold.rtable_id.values]

time: 2.2 ms

In [9]:
len(A1), len(B1)

(2224, 2224)

time: 2.66 ms

In [10]:
A1 = A1.sample(2000)
B1 = B1.sample(2000)

time: 20.9 ms

In [11]:
A1.reset_index(inplace=True, drop=True)
B1.reset_index(inplace=True, drop=True)

time: 3.14 ms

In [12]:
A1 = A1[A1.authors != '?']

time: 3.93 ms

In [13]:
# Book review column
A1 = A1[A1.title != 'Book Review Column']
B1 = B1[B1.title != 'Book Review Column']
A1 = A1[A1.title != 'Book review column']
B1 = B1[B1.title != 'Book review column']
A1 = A1[A1.title != 'Reminiscences on Influential Papers']
B1 = B1[B1.title != 'Reminiscences on Influential Papers']

time: 15.7 ms

In [14]:
B1 = B1[B1.id != 641003]

time: 7.07 ms

In [15]:
# Treasurer's message
A1 = A1[A1.title != "Treasurer's Message"]
B1 = B1[B1.title != "Treasurer's Message"]

time: 5.96 ms

In [16]:
len(A1), len(B1)

(1979, 1991)

time: 5.2 ms

In [17]:
A1_vals = list(A1['id'].values)
B1_vals = list(B1['id'].values)

i = 0
for row in gold.itertuples(index=False):
    l_val = row[1]
    r_val = row[2]
    if l_val in A1_vals and r_val in B1_vals:
        i += 1
print(i)

1780
time: 116 ms

In [18]:
em.set_key(A1, 'id')
em.set_key(B1, 'id')

True

time: 4.77 ms

In [19]:
B1.head()

,id,title,authors,venue,year
0,245896,Pixel-oriented database visualizations,Daniel A. Keim,ACM SIGMOD Record,1996
1,672175,Storage and Querying of E-Commerce Data,"Rakesh Agrawal, Amit Somani, Yirong Xu",Very Large Data Bases,2001
2,671195,Bridging Heterogeneity: Research and Practice of Database Middleware Technology,"Fernando de Ferreira Rezende, Günter Sauter",Very Large Data Bases,1998
3,276308,Parallel mining algorithms for generalized association rules with classification hierarchy,"Takahiko Shintani, Masaru Kitsuregawa",International Conference on Management of Data,1998
4,245898,To table or not to table: a hypertabular answer,"Giuseppe Santucci, Laura Tarantino",ACM SIGMOD Record,1996

time: 14.4 ms

In [20]:
em.to_csv_metadata(A1, './ORIG_DBLP_ACM/dblp_mur_clean.csv')
em.to_csv_metadata(B1, './ORIG_DBLP_ACM/acm_mur_clean.csv')

True

time: 48.5 ms

In [21]:
# A2[A2.authors.str.split(',').apply(len) == 1]

time: 825 µs